<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecondLife</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="@Url.Content("~/Content/secondlife.css")" rel="stylesheet" type="text/css" />
    @using SecondLife.Models
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top bg1-color">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("SL", "Index", "SecondLife", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="padding:0">
                    <li>@Html.ActionLink("Inicio", "Index", "SecondLife")</li>
                    <li>@Html.ActionLink("Productos", "Product", "SecondLife")</li>

                    <!--en esta seccion visualizamos al usuario-->
                    @{
                        Usuario u = TempData["usuario"] as Usuario;

                    }

                    <li> @Html.ActionLink("Carrito de compra", "Shopping_Cart", "SecondLife")</li>

                    @if (@u == null)
                    {
                        <li> @Html.ActionLink("Inicio de Sesion", "Login", "SecondLife")</li>
                    }
                    else
                    {
                        <li style="display:flex">
                            <em style="padding-top: 15px; padding-bottom: 15px; color:#fff">Bienvenido @u.nom_usua @u.ape_usua </em>
                            @Html.ActionLink("Ver perfil", "Profile", "SecondLife", new { id = u.id_usua, estado=true }, null)
                            @Html.ActionLink("Cerrar Sesion", "CloseSession", "SecondLife")
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <footer class="footer">
            © Copyright 2021 Todos los derechos reservados
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
