<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecondLife</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/png" href="https://i.ibb.co/NCTjMms/logo-icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="@Url.Content("~/Content/secondlife.css")" rel="stylesheet" type="text/css" />
    @using SecondLife.Models
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top bg1-color">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <img class="card-img-top img-index" style="width:55px;height:55px;" src="https://i.ibb.co/NCTjMms/logo-icon.png" />

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="padding:0;float:right !important;">
                    <li>@Html.ActionLink("Inicio", "Index", "SecondLife")</li>
                    <li>@Html.ActionLink("Productos", "Product", "SecondLife")</li>

                    <!--en esta seccion visualizamos al usuario-->
                    @{
                        Usuario u = TempData["usuario"] as Usuario;
                        int cant = 0;
                        if (Session["carrito"] != null)
                        {
                            foreach (Item i in (List<Item>)Session["carrito"])
                            {
                                cant += i.cant;
                            }
                        }

                    }

                    @if (@u == null)
                    {
                        <li> @Html.ActionLink("Inicio de Sesion", "Login", "SecondLife")</li>
                    }
                    else
                    {
                        <li style="display:flex">
                            @Html.ActionLink(" Perfil", "Profile", "SecondLife", new { id = u.id_usua, estado = true },
                             new { @class = "bi bi-person", @title = "Perfil de " + @u.nom_usua, @style =" font-size:16px" })
                        </li>
                    }

                <li style=" display: flex; align-items: center; color: #9d9d9d;">
                    @Html.ActionLink(" ", "Shopping_Cart", "SecondLife", new { /*Id = item.IDPROJECT */}, 
                   new { @class = "bi bi-cart3 icon-car", @title = "Carrito",@style =" font-size:16px" })
                    <span class="num-car" style="font-size:16px">(@cant)</span>
                </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <footer class="footer">
            © Copyright 2021 Todos los derechos reservados
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
