<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using SecondLife.Models
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SL", "Index", "SecondLife", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "SecondLife")</li>
                    <li>@Html.ActionLink("Producto", "Product", "SecondLife")</li>

                    <!--en esta seccion visualizamos al usuario-->
                    @{
                        Usuario u = TempData["usuario"] as Usuario;

                    }

                <li> @Html.ActionLink("Carrito de compra", "Shopping_Cart", "SecondLife")</li>

                    @if (@u == null)
                    {
                <li> @Html.ActionLink("Inicio de Sesion", "Login", "SecondLife")</li>
                    }
                    else
                    {
                <li style="display:flex">
                    <em style="padding-top: 15px; padding-bottom: 15px; color:#fff">Bienvenido @u.usuario</em>
                    @Html.ActionLink("Ver perfil", "Profile", "SecondLife", new { id = u.id_usua }, null)
                    @Html.ActionLink("Cerrar Sesion", "CloseSession", "SecondLife")
                </li>
                    }
                </ul>             
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
