@model SecondLife.Models.Tarjeta


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    if (@ViewBag.subtotal != null)
    {
        @Html.Hidden("subtotal", (double)@ViewBag.subtotal)
        @Html.Hidden("descuento", (double)@ViewBag.descuento)
        @Html.Hidden("total", (double)@ViewBag.total)
        @Html.Hidden("id_direc", (string)ViewBag.id_direc)
        @Html.Hidden("estado", true)
    }
    <div style="    width: 400px;
    border: 1px solid rgba(0,0,0,0.4);
    padding: 10px;
    border-radius: 5px;
    /* text-align: center; */
    display: flex;
    box-shadow: 1px 2px rgb(0 0 0 / 10%);
    justify-content: center;">

        <div class="form-horizontal" style="text-align:center">
            <h4>Tarjeta</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label col-md-2 label-form">Número</label>
                <div class="col-md-10">

                    @Html.EditorFor(model => model.num_tarj, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.num_tarj, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2 label-form">Fecha venc.</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fec_venc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fec_venc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2 label-form">Cvv</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cvv, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cvv, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div style="margin-left:15px">
                    <input type="submit" value="Agregar" class="btn btn-success" />
                </div>
            </div>

        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
