@model SecondLife.Models.Producto

@{
    ViewBag.Title = "Detail_Product";
}

<div style="min-height: calc(100vh - 130px);">
    <h2>Detalle de producto</h2>

    <!--mensaje-->
    <div class="alert alert-info alert-dismissible show" role="alert">
        @if (@ViewBag.mensaje == null)
        {
            <span>Los mejores productos los encuentra aquí</span>
        }
        else
        {
            @ViewBag.mensaje
        }
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <hr />
    <div style="display:flex;">
        <img class="card-img-top img-index" style="width:225px;height:225px;object-fit:contain;margin-left:100px;margin-right:40px; " src="@Url.Content(Model.imagen)" />

        <dl class="dl-horizontal" style="margin-top:25px">


            <dt style="text-align: left;">
                Codigo
            </dt>

            <dd>
                @Html.DisplayFor(model => model.codigo)
            </dd>

            <dt style="text-align: left;">
                Marca
            </dt>

            <dd>
                @Html.DisplayFor(model => model.marca)
            </dd>

            <dt style="text-align: left;">
                Modelo
            </dt>

            <dd>
                @Html.DisplayFor(model => model.modelo)
            </dd>

            <dt style="text-align: left;">
                Descripción
            </dt>

            <dd>
                @Html.DisplayFor(model => model.descripcion)
            </dd>

            <dt style="text-align: left;">
                Observación
            </dt>

            <dd>
                @Html.DisplayFor(model => model.observacion)
            </dd>

            <dt style="text-align: left;">
                @Html.DisplayNameFor(model => model.stock)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.stock)
            </dd>

            <dt style="text-align: left;">
                @Html.DisplayNameFor(model => model.precio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.precio)
            </dd>

            <dt style="text-align: left;">
                @Html.DisplayNameFor(model => model.calidad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.calidad)
            </dd>

        </dl>
    </div>

    <div style="margin-top:75px;margin-left:75px;display:flex;  flex-direction:column">
        @using (Html.BeginForm("Detail_Product", "SecondLife", FormMethod.Post, new { @style = "display:flec;" }))
        {
            @Html.Hidden("id", Model.id_prod)
            @Html.Hidden("stock", Model.stock)
            @Html.ActionLink("Regresar", "Product", null, new { @class = "btn btn-info" })
            @Html.TextBox("cant", 0, new
       {
           type = "number",
           min = "0",
           max = Model.stock,
           style = "padding:5px; outline:none; margin-left:70%"
       }); 
            <input type="submit" value="Agregar" class="btn btn-primary" />
        }
    </div>
    </div>

<script>
    setTimeout(() => {
        document.querySelector('.alert').classList.add('fade');
        document.querySelector('.alert').classList.add('hidden');
    },3000)
</script>

