@model SecondLife.Models.Usuario

@{
    ViewBag.Title = "Login";
}

<h2>Iniciar sesión</h2>


@using (Html.BeginForm()) 
{ 
<div style="display:flex;justify-content:center;align-items:center;height:calc(100vh - 173px);">
    <div style="margin-top:-40px">

        <div style="height: 50px;">
            <p style="margin-top:10px;margin-right:10px">Usuario</p>
            @Html.TextBox("user", "")
        </div>
        <div style="height: 75px;">
            <p style="margin-top:10px;margin-right:10px">Contraseña</p>
            @Html.TextBox("pass", "", new { @type = "password" })
        </div>
        <div>
            <input type="submit" value="Ingresar" class="btn btn-primary" /> |
            @Html.ActionLink("Registrar", "RegisterUser", null, new { @class = "btn btn-info" })
        </div>
        @ViewBag.mensaje
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
