@model SecondLife.Models.Usuario

@{
    ViewBag.Title = "Login";
}


@using (Html.BeginForm()) 
{ 
<div style="display:flex;justify-content:center;align-items:center;height:calc(100vh - 110px);">
    <div style="padding: 40px;border: 1px solid rgba(0,0,0,.125);">

        <h2 class="card-title" style="margin:0;margin-bottom:25px">Iniciar sesión</h2>

        <div style="height: 50px;width:250px">
            <p style="margin-top:10px;margin-right:10px">Usuario</p>
            @Html.TextBox("user", "", new { @class = "form-control", @placeholder = "Ingrese usuario" })
        </div>
        <div style="height: 75px;width:250px">
            <p style="margin-top:25px;margin-right:10px">Contraseña</p>
            @Html.TextBox("pass", "", new { @type = "password", @class = "form-control", @placeholder = "Ingrese contraseña" })
        </div>
        <div style="margin-top:25px">
            <input type="submit" value="Ingresar" class="btn btn-primary w-50" />
            @Html.ActionLink("Registrar", "RegisterUser", null, new { @class = "btn btn-info w-50" })
        </div>
        <div class="alert alert-info alert-dismissible show" role="alert" style="margin-top:10px">
            @if (@ViewBag.mensaje == null)
            {
                <span>Ingrese sus credenciales</span>
            }
            else
            {
                @ViewBag.mensaje
            }
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    setTimeout(() => {
        document.querySelector('.alert').classList.add('fade');
        document.querySelector('.alert').classList.add('hidden');
    },3000)
</script>