@using SecondLife.Models

@{
    ViewBag.Title = "Make_Payment";
}

<h2>Confirmacion</h2>

<div style="display:flex">
    <div >
        @Html.Partial("_PartialShoppingCart", ViewBag.carrito as List<Item>)
    </div>

    <div>
        @using (Html.BeginForm())
        {
            <p>Subtotal: S/. @ViewBag.subtotal</p>
            <p>Descuento: S/. @ViewBag.descuento</p>
            <p>Envio:  S/. 0 (Gratis)</p>
            <p>Total: S/. @ViewBag.total </p>
            <p>Direccion de envio: @ViewBag.direccion</p>
            <p>Tarjeta: @ViewBag.tarjeta</p>
            <a href="javascript:history.back()" class="btn btn-default">Regresar</a>
            <button class="btn btn-primary">Confirmar</button>
        }

    </div>
</div>