@model SecondLife.Models.Usuario
@using SecondLife.Models

@{
    ViewBag.Title = "Pay_Data";
}

<div style="margin-top: 52px; min-height: calc(100vh - 162px);">
    <h2 style="text-align:center">Datos del titular</h2>
    <hr />
    <div class="alert alert-info alert-dismissible show" role="alert">
        @if (@ViewBag.mensaje == null)
        {
            <span>Escoga una dirección, también puede agregar una.</span>
        }
        else
        {
            @ViewBag.mensaje
        }
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div style="display:flex; flex-direction:row; align-content:center; justify-content:center">
        <div class="pay_container">
            <div class="pay_detail">
                <h5 style="background-color:rgba(0,0,0,0.1);font-size:20px;margin:0;padding:10px">Total a pagar</h5>
                <p style="padding:10px 5px 5px; margin:0">Envio : S/.0 (GRATIS)</p>
                <p style="padding: 5px; margin: 0">Subtotal: S/. @ViewBag.subtotal </p>
                <p style="padding: 5px; margin: 0">Descuento: S/. @ViewBag.descuento</p>
                <p style="padding:5px;font-weight:bold">Total: S/. @ViewBag.total</p>
            </div>

            <div class="pay_user">
                <h4 style="padding:5px">Datos del usuario</h4>
                <p style="padding:5px; margin:0">Usuario: @ViewBag.usuario</p>
                <p style="padding: 5px; margin: 0">Fecha: @ViewBag.actual</p>
            </div>

            <div>
                @using (Html.BeginForm("Payment_Methods", "SecondLife", FormMethod.Get))
                {
                    <div style="margin-bottom:20px">

                        @Html.Hidden("subtotal", (double)@ViewBag.subtotal)
                        @Html.Hidden("descuento", (double)@ViewBag.descuento)
                        @Html.Hidden("total", (double)@ViewBag.total)
                        @Html.Hidden("estado", true)
                        <p style="padding:5px;font-size:14px;font-style:italic;margin:0">
                            Escoja su direccion de envio
                            @Html.DropDownList("id_direc", ViewBag.direccion as SelectList, new { @class = "btn btn-default", @style = "margin-bottom:5px" })
                        </p>

                    </div>
                    <a href="javascript:history.back()" class="btn btn-danger">Regresar</a>
                    <button class="btn btn-primary">Siguiente</button>
                }
            </div>
        </div>

        <div class="pay_partial">
            @Html.Partial("_PartialAddress", new Direccion())
        </div>
    </div>

</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

<script>
    setTimeout(() => {
        document.querySelector('.alert').classList.add('fade');
        document.querySelector('.alert').classList.add('hidden');
    },3000)
</script>