@model SecondLife.BundleConfig

@{
    ViewBag.Title = "Payment_Methods";
}
<style>
    label {
        text-align: left;
        margin-left: 20px;
    }
</style>
<div style="margin-top: 52px; min-height: calc(100vh - 162px);">
    <h2 style="text-align:center">Medios de pago</h2>
    <hr />
    <div class="alert alert-info alert-dismissible show" role="alert">
        @if (@ViewBag.mensaje == null)
        {
            <span>Escoga una tarjeta, también puede agregar una.</span>
        }
        else
        {
            @ViewBag.mensaje
        }
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


    <div style="display:flex; flex-direction:row; align-content:center; justify-content:center">
        <div class="pay_container">
            <div class="pay_detail">
                <h5 style="background-color:rgba(0,0,0,0.1);font-size:20px;margin:0;padding:10px">Total a pagar</h5>
                <p style="padding:10px 5px 5px; margin:0">Envio : S/.0 (GRATIS)</p>
                <p style="padding: 5px; margin: 0">Subtotal: S/. @ViewBag.subtotal </p>
                <p style="padding: 5px; margin: 0">Descuento: S/. @ViewBag.descuento</p>
                <p style="padding:5px;font-weight:bold">Total: S/. @ViewBag.total</p>
            </div>

            <div class="pay_user">
                <h4 style="padding:5px">Datos del usuario</h4>
                <p style="padding:5px; margin:0">Usuario: @ViewBag.usuario</p>
                <p style="padding: 5px; margin: 0">Fecha: @ViewBag.actual</p>
            </div>

            <div>
                @using (Html.BeginForm("Confirm_Payment", "SecondLife", FormMethod.Get))
                {
                    @Html.Hidden("subtotal", (double)@ViewBag.subtotal)
                    @Html.Hidden("descuento", (double)@ViewBag.descuento)
                    @Html.Hidden("total", (double)@ViewBag.total)
                    @Html.Hidden("id_direc", (string)ViewBag.id_direc)
                    @Html.Hidden("estado", true)
                    <div>
                        <p style="padding:5px;font-size:14px;font-style:italic;">Escoja su numero de tarjeta</p>
                        @Html.DropDownList("id_tarj", ViewBag.tarjeta as SelectList, new { @class = "btn btn-default", @style = "margin-bottom:5px" })
                    </div>
                    <div style="margin-bottom:5px; margin-top:15px">
                        <a href="javascript:history.back()" class="btn btn-info">Regresar</a>
                        <button class="btn btn-primary">Pagar</button>
                    </div>
                }
            </div>
        </div>
        <div class="method_partial">
            @Html.Partial("_PartialCard")
        </div>
    </div>
</div>


<script>
    setTimeout(() => {
        document.querySelector('.alert').classList.add('fade');
        document.querySelector('.alert').classList.add('hidden');
    }, 3000)
</script>
