@model SecondLife.BundleConfig

@{
    ViewBag.Title = "Payment_Methods";
}

<div style="margin-top: 52px; min-height: calc(100vh - 162px);">
    <h2>Método de pago</h2>
    <div class="alert alert-info alert-dismissible show" role="alert">
        @if (@ViewBag.mensaje == null)
        {
               <span>Escoga una tarjeta, también puede agregar una.</span>
        }
        else
        {
            @ViewBag.mensaje
        }
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <hr />

    <div style="display:flex;">
        <div style="margin-right: 100px;border: 1px solid #000;width:250px;border-radius:5px">
            <div>
                <h5 style="background-color:rgba(0,0,0,0.1);font-size:20px;margin:0;padding:10px">Total a pagar</h5>
                <p style="padding:10px 5px 5px">Envio : S/.0 (GRATIS)</p>
                <p style="padding:5px">Subtotal: S/. @ViewBag.subtotal </p>
                <p style="padding:5px">Descuento: S/. @ViewBag.descuento</p>
                <p style="padding:5px;font-weight:bold">Total: S/. @ViewBag.total</p>
                <p style="padding:5px">Usuario: @ViewBag.usuario</p>
                <p style="padding:5px">Direccion: @ViewBag.direccion</p>

            </div>

            <div>
                @using (Html.BeginForm("Confirm_Payment", "SecondLife", FormMethod.Get))
                {
                    @Html.Hidden("subtotal", (double)@ViewBag.subtotal)
                    @Html.Hidden("descuento", (double)@ViewBag.descuento)
                    @Html.Hidden("total", (double)@ViewBag.total)
                    @Html.Hidden("id_direc", (string)ViewBag.id_direc)
                    @Html.Hidden("estado", true)
                    <div>
                        <p style="padding:5px;font-size:14px;font-style:italic;">Escoja su numero de tarjeta</p>
                        @Html.DropDownList("id_tarj", ViewBag.tarjeta as SelectList, new { @class = "btn btn-default", @style = "margin-bottom:5px" })
                    </div>
                    <div style="margin-bottom:5px">
                        <a href="javascript:history.back()" class="btn btn-danger">Regresar</a>
                        <button class="btn btn-primary">Pagar</button>
                    </div>
                }
            </div>
        </div>
        <div style="width:300px; border:1px solid black;padding:0 10px;border-radius:5px">
            @Html.Partial("_PartialCard")
        </div>
    </div>
</div>


<script>
    setTimeout(() => {
        document.querySelector('.alert').classList.add('fade');
        document.querySelector('.alert').classList.add('hidden');
    }, 3000)
</script>
