@model IEnumerable<SecondLife.Models.Producto>
@using SecondLife.Models

@{
    ViewBag.Title = "Product";
}

<h2>Productos</h2>
<style>
    .product {
        height: 400px;
    }
</style>

<!--Inicio de sesión-->
<p>@ViewBag.mensaje</p>


<div class="">
    @using (Html.BeginForm("Product", "SecondLife", FormMethod.Get))
    {
        @Html.RadioButton("id_categ", 0, "Todos los productos")<label>Todos los productos</label><br />
        if (ViewBag.categoria != null)
        {
            foreach (var lista in ViewBag.categoria as List<Categoria>)
            {
                @Html.RadioButton("id_categ", lista.id_categ, lista.nombre)
                @lista.nombre
                <br />
            }
        }
        @Html.TextBox("marca")
        <button>Buscar</button>
    }
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 ">
        @foreach (var item in Model)
        {
            <div class="col col-sm-4 mb-4 product rounded" style="height: 450px;">
                <div class="card card-sm-3 h-100  b-card" style="text-align: center;">
                    <img class="card-img-top img-index" src="@Url.Content(item.imagen)" />
                    <div class="card-body">
                        <p class="h-link">
                            @Html.ActionLink(item.marca + item.modelo, "Detail_Product", new { id = item.id_prod }, new { @class = "card-title" })
                        </p>
                        <p class="card-text" style="height:90px">@Html.DisplayFor(modelItem => item.descripcion)</p>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.precio)</p>
                        @using (Html.BeginForm("Product", "SecondLife", FormMethod.Post))
                        {
                            @Html.Hidden("id", item.id_prod)
                            @Html.Hidden("stock", item.stock)
                            @Html.TextBox("cant", item.stock)
                    <input type="submit" value="Procesar" class="btn btn-primary" style="margin-bottom:10px" />
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@if (Model.Count() > 0)
{
    @Html.ActionLink("|<",
    "Product", "SecondLife",
    new { p = (int)ViewBag.p, id_categ=(int)ViewBag.id_categ, marca= (string)ViewBag.marca, flecha = "ini" },
    new { @class = "btn btn-primary" })

    @Html.ActionLink("<<",
        "Product", "SecondLife",
      new { p = (int)ViewBag.p, id_categ=(int)ViewBag.id_categ, marca = (string)ViewBag.marca, flecha = "i" },
      new { @class = "btn btn-primary" })

    @Html.Label(    ((int)ViewBag.p + 1).ToString() )

    @Html.ActionLink(">>",
        "Product", "SecondLife",
      new { p = (int)ViewBag.p, id_categ=(int)ViewBag.id_categ, marca = (string)ViewBag.marca,flecha = "d" },
      new { @class = "btn btn-primary" })

    @Html.ActionLink(">|",
        "Product", "SecondLife",
      new { p = (int)ViewBag.p, id_categ=(int)ViewBag.id_categ, marca = (string)ViewBag.marca, flecha = "fin" },
      new { @class = "btn btn-primary" })
}
