@model IEnumerable<SecondLife.Models.Boleta>
@using SecondLife.Models

@{
    ViewBag.Title = "Purchases";
}

<div style="margin-top: 60px; min-height: calc(100vh - 170px)">

    <h2 style="display:inline">Mis compras</h2>
    <i class="bi bi-bag" style="font-size:35px"></i>

    <br />
    @{
        Usuario u = TempData["usuario"] as Usuario;
    }
    @Html.ActionLink("Regresar", "Profile", new { id = u.id_usua, estado = true }, new { 
    @class="btn btn-info", @style = "text-decoration:none;" })


    <link id="detail_purchase" , href="~/Views/SecondLife/Detail_Purchases.cshtml" rel="import" />

    <table class="table" style="margin-top:10px">
        <tr>
            <th>
                Fecha
            </th>
            <th>
                Direccion
            </th>
            <th>
                Tarjeta
            </th>
            <th>
                Descuento
            </th>
            <th>
                Importe
            </th>
            <th>
                Envio
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fec_bol)
                </td>
                <td>
                    <p>@((ViewBag.direccion as List<Direccion>).Where(x=>x.id_direc==item.id_direc).FirstOrDefault().desc_direc)</p>
                </td>
                <td>
                    <p>@((ViewBag.tarjeta as List<Tarjeta>).Where(x=>x.id_tarj==item.id_tarj).FirstOrDefault().num_tarj)</p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.desc_bol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.impo_bol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.envio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total_bol)
                </td>
                <td>

                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#@item.num_bol">
                        Ver más
                    </button>
                    <div class="modal fade" id="@item.num_bol" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="staticBackdropLabel">Detalle de la venta</h3>
                                </div>
                                <div class="modal-body">
                                    @Html.Partial("_PartialPurchases", ((List<DetalleBoleta>)ViewBag.detalle).Where(x => x.num_bol == item.num_bol))
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }

    </table>


</div>

